@model ClassLibrary.Models.Employee
@using ClassLibrary.Enum
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    //ViewData["Title"] = "Create";
    Layout = "_Layout";
}
@section Styles{
    <link href="~/css/employee/detail.css" rel="stylesheet" />
}

<h1 style="color:black">新增員工資料</h1>
<div class="container">
    <form asp-action="Create">
        <div class="row row-cols-2">

            <div class="col">
                <dl>
                    <dt>
                        姓     名：<input asp-for="E_Name" />
                        <br/>
                        <span asp-validation-for="E_Name" class="text-danger"></span>
                    </dt>
                    <dt>
                        性     別：
                        <select asp-for="E_Gender">
                            <option value="男">男</option>
                            <option value="女">女</option>
                            <option value="其他">其他</option>
                        </select>
                        <br />
                        <span asp-validation-for="E_Gender" class="text-danger"></span>
                    </dt>
                    <dt>
                        別 名：<input asp-for="E_UserName" />
                        <br />
                        <span asp-validation-for="E_UserName" class="text-danger"></span>
                    </dt>
                    <dt>
                        密     碼：<input asp-for="E_Pwd" type="password" id="passwordInput" />  <button class="btn btn-info btn-lg" type="button" id="togglePasswordBtn">顯示密碼</button>
                        <br />
                        <span asp-validation-for="E_Pwd" class="text-danger"></span>
                    </dt>
                    
                    <dt>
                        信     箱：<input asp-for="E_Email" />
                        <br />
                        <span asp-validation-for="E_Email" class="text-danger"></span>
                    </dt>
                    <dt>
                        職     位：
                        <select asp-for="E_Title">
                            <option value="員工">員工</option>
                            <option value="主管">主管</option>
                        </select>
                        <br />
                        <span asp-validation-for="E_Title" class="text-danger"></span>
                    </dt>
                    <dt>
                        <input type="submit" value="新增" class="btn btn-success btn-lg" />
                        <a class="btn btn-primary btn-lg" role="button" asp-action="Index">返回列表</a>
                    </dt>
                </dl>
            </div>

            <div class="col">
                <dl>
                    <dt>
                        手 機：<input asp-for="E_Phone" />
                        <br />
                        <span asp-validation-for="E_Phone" class="text-danger"></span>
                    </dt>
                    <dt>
                        生   日：<input type="date" asp-for="E_Birthday" onchange="validateBirthday(this.value)" />
                        <br />
                        <span asp-validation-for="E_Birthday" class="text-danger"></span>
                    </dt>
                    <dt>
                        就 職：<input type="date" asp-for="E_HireDate" />
                        <br />
                        <span asp-validation-for="E_HireDate" class="text-danger"></span>
                    </dt>
                    <dt>
                        地   址：<input asp-for="E_Address" />
                        <br />
                        <span asp-validation-for="E_Address" class="text-danger"></span>
                    </dt>
                    <dt>
                        權限：
                        <select asp-for="E_Permission">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <br />
                        <span asp-validation-for="E_Permission" class="text-danger"></span>
                    </dt>
                    <dt>
                        <label class="form-check-label">
                            在   職：<input class="form-check-input" asp-for="E_Work" />
                            <br/>
                            <span asp-validation-for="E_Work" class="text-danger"></span>
                        </label>
                    </dt>
                    @*<dt>
                        <input type="submit" value="新增" class="btn btn-success btn-lg" />
                    </dt>*@
                </dl>
            </div>

        </div>
    </form>
</div>
@section Script{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    <script>
        function validateBirthday(birthday) {
            var selectedDate = new Date(birthday);
            var currentYear = new Date().getFullYear();
            var requiredYear = currentYear - 2003;

            if (currentYear - selectedDate.getFullYear() < requiredYear) {
                alert("年齡必須滿20歲");
                document.getElementById("E_Birthday").value = "";
            }
        }


        //顯示密碼
        var togglePasswordBtn = document.getElementById('togglePasswordBtn');
        var passwordInput = document.getElementById('passwordInput');

        togglePasswordBtn.addEventListener('click', function () {
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                togglePasswordBtn.textContent = '隱藏密碼';
            } else {
                passwordInput.type = 'password';
                togglePasswordBtn.textContent = '顯示密碼';
            }
        });
    </script>

}