@model ClassLibrary.Models.Employee
@using ClassLibrary.Enum
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}
@section Styles{
    <link href="~/css/employee/detail.css" rel="stylesheet" />
}
<h1 style="color:black">員工詳細資料</h1>
<div class="container">
    <div class="row row-cols-2">
        <div class="col">
            <dl>
                <dt>
                    姓名：@Html.DisplayFor(model => model.E_Name)
                </dt>
                <dt>
                    性別：@Html.DisplayFor(model => model.E_Gender)
                </dt>
                <dt>
                    使用者名稱：@Html.DisplayFor(model => model.E_UserName)
                </dt>
                @*<dt>
                    密碼：@Html.DisplayFor(model => model.E_Pwd)
                </dt>*@
                <dt>
                    @*信箱：@Html.DisplayFor(model => model.E_Email)*@
                    信箱：<span style="color: black; font-size: 10px;">@Html.DisplayFor(model => model.E_Email)</span>
                </dt>
                <dt>
                    職位：@Html.DisplayFor(model => model.E_Title)
                </dt>
                <dt>
                    <a class="btn btn-primary btn-lg" role="button" asp-action="Index">返回列表</a>
                </dt>
            </dl>
        </div>

        <div class="col">
            <dl>
                <dt>
                    聯絡方式：@Html.DisplayFor(model => model.E_Phone)
                </dt>
                <dt>
                    @*生日：'@Convert.ToDateTime(@Html.DisplayFor(model => model.E_Birthday)).ToString("yyyy-MM-dd")'*@
                    @{
                        DateTime birthday = Convert.ToDateTime(Model.E_Birthday);
                        string formattedBirthday = birthday.ToString("yyyy-MM-dd");
                    }
                    生日：@formattedBirthday
                </dt>
                <dt>
                    @*就職日：@Html.DisplayFor(model => model.E_HireDate)*@
                    @{
                        DateTime HireDate = Convert.ToDateTime(Model.E_HireDate);
                        string formattedHireDate = HireDate.ToString("yyyy-MM-dd");
                    }
                    就職：@formattedHireDate
                </dt>
                <dt>
                    地址：@Html.DisplayFor(model => model.E_Address)
                </dt>
                <dt>
                    權限：@Html.DisplayFor(model => model.E_Permission)
                </dt>
                <dt>
                    在職：
                    @*@Html.DisplayFor(model => model.E_Work)*@
                    @Html.CheckBoxFor(model => model.E_Work, new {disabled = true, style = "transform: scale(2);" })
                </dt>


                <dt>
                    <a class="btn btn-warning btn-lg" role="button" asp-action="Edit" asp-route-id="@Model?.E_ID">編輯</a>
                </dt>
            </dl>
        </div>
    </div>
</div>