.tables {
    /* background-color: #ff0909cc; */
    width: 100%;
    align-items: center;
    height: 78vh;
    color: rgb(255, 255, 255);
    overflow: hidden;
    /* background-color: #DB504A; */
}

.CreateNew_form {
    /* display: flex;
    justify-content: start;
    align-items: first baseline;*/
    /* background-color: #b923b2; */

    margin-bottom: 40px;
    /* padding: 20px; */
    background-color: #33384d2c;
    border: 1px solid rgba(192, 191, 191, 0.445);
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.CreateForm_title {
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: first baseline;
    margin: 0px;
    padding: 0px;
}

.CreateNew_form legend {
    font-weight: bold;
    font-size: 1.2rem;
    width: auto;
    height: auto;
    border-radius: 15px;
    margin: 0px;
    padding: 5px;
    padding-left: 10px;
    padding-bottom: 0px;
}

.CreateNew_form input {
    padding: 5px;
    border-radius: 3px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgb(207, 207, 207);
    outline: none;
    font-size: 1rem;
    color: #FFFFFF;
}

.CreateNew_form span {
    margin-right: 3%;
    padding: 0px;
}

.CreateNew_form .label {
    font-size: 15px;
    margin-right: 0px;
    padding: 0px;
}

.Detail_table,
.Detail_table th,
.Detail_table td {
    padding: 1rem;
    border-collapse: collapse;
    text-align: left;
}

.Detail_table {
    width: 100%;
}

.table_header {
    width: auto;
    height: 8%;
    display: flex;
    justify-content: start;
    /* background-color: #091f41;
	background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%); */
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 30px 30px 0px 0px;
}

.Dtable_body {
    width: 98%;
    max-height: calc(80% - 1.6rem);
    background-color: #d1d4d43b;
    /* margin: .8rem auto; */
    border-radius: .6rem;
    overflow: auto;
    margin: 10px;
    border: 1px solid rgba(192, 191, 191, 0.445);
}

    .Dtable_body::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
    }

    .Dtable_body::-webkit-scrollbar-thumb {
        border-radius: .5rem;
        background-color: #4c596d8c;
        visibility: hidden;
    }

    .Dtable_body:hover::-webkit-scrollbar-thumb {
        visibility: visible;
    }

.Detail_table th {
    position: sticky;
    top: 0;
    left: 0;
    /* background-color: rgba(23, 30, 41, 0.623); */
    background-color: #353c44
}

.Detail_table tbody tr:nth-child(even) {
    background-color: #525d69
}

.Detail_table tbody tr:hover {
    background-image: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
    /* background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%); */
}

.Detail_table tr td:nth-last-child(-n+2) {
    text-align: center;
}

.Detail_table tr th:nth-last-child(-n+2) {
    text-align: center;
}

.Detail_table td i:hover {
    cursor: pointer;
}

.btn_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    color: #fff;
    height: 60%;
    border-radius: 5px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    border: none;
    /* background: linear-gradient(0deg, rgba(255, 151, 0, 1) 0%, rgba(251, 75, 2, 1) 100%); */
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    font-size: 13px;
    position: relative;
    overflow: hidden;
    margin-right: 2%;
}

    .btn_title span {
        /*position: relative;
        display: block;*/
        width: 100%;
        height: 100%;
    }

    .btn_title:before,
    .btn_title:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        background: #243949;
        box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, .9), -4px -4px 5px 0px rgba(255, 255, 255, .9), 7px 7px 20px 0px rgba(0, 0, 0, .2), 4px 4px 5px 0px rgba(0, 0, 0, .3);
        transition: all 0.3s ease;
    }

    .btn_title:before {
        height: 0%;
        width: 2px;
    }

    .btn_title:after {
        width: 0%;
        height: 2px;
    }

    .btn_title:hover {
        color: #243949;
        background: transparent;
    }

        .btn_title:hover:before {
            height: 100%;
        }

        .btn_title:hover:after {
            width: 100%;
        }

    .btn_title span:before,
    .btn_title span:after {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        background: #243949;
        box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, .9), -4px -4px 5px 0px rgba(255, 255, 255, .9), 7px 7px 20px 0px rgba(0, 0, 0, .2), 4px 4px 5px 0px rgba(0, 0, 0, .3);
        transition: all 0.3s ease;
    }

    .btn_title span:before {
        width: 2px;
        height: 0%;
    }

    .btn_title span:after {
        height: 2px;
        width: 0%;
    }

    .btn_title span:hover:before {
        height: 100%;
    }

    .btn_title span:hover:after {
        width: 100%;
    }

.checkbtn_span {
    /* border:1px solid red;*/
    display: flex;
    flex-direction: column;
}

.btncheck {
    /* background-color: aqua !important;*/
    height: 30px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, .3);
    color: rgba(255, 255, 255);
}
