.container-fluid {
    display: flex;
    justify-content: start;
    height: 100%;
}

.CaseArea {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 28%;
    height: 100%;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
    padding: 1%;
    overflow: auto;
}

    .CaseArea::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
    }

    .CaseArea::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 4px;
    }

        .CaseArea::-webkit-scrollbar-thumb:active {
            background-color: transparent;
        }

.card-title {
    padding-bottom: 10px;
    font-weight: 700;
}

.form-floating {
    color: #434344d2;
    font-size: 15px;
}

    .form-floating > .form-control,
    .form-floating > .form-control-plaintext {
        padding: 0rem 0.75rem !important;
    }

    .form-floating > .form-control,
    .form-floating > .form-control-plaintext,
    .form-floating > .form-select {
        height: calc(2.5rem + 2px) !important;
        line-height: 1 !important;
    }

    .form-floating > label {
        padding: 0.5rem 0.75rem !important;
    }

.card {
    border-radius: 10px !important;
    margin-bottom: 5%;
    background-image: linear-gradient(to right, #071f31bb 0%, #011320b1 100%);
    border: 1px inset rgba(255, 255, 255, 0.35) !important;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.214) !important;
}

.AD_UP {
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form_AD {
    /* background-color: #344142 !important; */
    width: 100% !important;
    height: 68%;
    margin-top: 15px !important;
    border-radius: 10px;
    margin-left: 0px !important;
    background-image: linear-gradient(to right, #071f31a0 0%, #01132097 100%);
    border: 1px inset rgba(255, 255, 255, 0.35);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.214) !important;
}

    .form_AD h4 {
        margin: 10px;
        font-weight: bolder;
    }

.EndDate,
.PayDay,
.StartDate {
    display: flex;
    flex-direction: column;
}

    .PayDay label,
    .StartDate label,
    .EndDate label {
        margin-bottom: 8px;
    }

    .StartDate input,
    .EndDate input {
        height: 50%;
    }

.UpBtn {
    display: flex;
    justify-content: right;
    align-items: end;
}

.ADs_Detail {
    width: 100% !important;
    height: 100%;
    border: 1px solid rgba(63, 63, 63, 0.178);
    border-radius: 5px !important;
    margin-top: 10px;
    overflow: auto;
    white-space: nowrap;
}

    .ADs_Detail::-webkit-scrollbar {
        width: 1px;
        background-color: rgba(49, 50, 51, 0.192);
        height: 10px;
    }

    .ADs_Detail::-webkit-scrollbar-thumb {
        background-color: rgba(4, 31, 53, 0.171);
        border-radius: 15px;
    }

        .ADs_Detail::-webkit-scrollbar-thumb:active {
            background-color: rgba(6, 25, 44, 0.329);
        }

.form_C {
    width: 100% !important;
    height: 100%;
    /* border: 1px solid saddlebrown; */
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    justify-content: flex-start;
}

    .form_C .form-floating {
        width: 50%;
    }

.form_CreateCase,
.form_UpdateCase {
    /* border: 1px solid rgba(255, 255, 255, 0.163); */
    width: 30%;
    height: 95%;
    margin: 0 !important;
    padding: 20px;
    margin-top: 15px !important;
    border-radius: 10px;
    margin-right: 15px !important;
    background-image: linear-gradient(to right, #071f31a0 0%, #01132097 100%);
    border: 1px inset rgba(255, 255, 255, 0.35);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.214);
}