.container{
    max-height:100%;
    max-width:100%;
}

.accordion-button {
    font-size: 1.5rem;
}

.table {
    vertical-align: middle;
    overflow:auto;
}

.button {
    display: flex;
    justify-content: space-evenly;
}

    .button > button {
        padding-left: 1rem;
        padding-right: 1rem;
    }

.title {
    padding-left: 0.5rem;
    font-size: 2rem;
    border-bottom: 1px solid #e8e8e8;
}

.row {
    margin: 1rem;
    padding-bottom: 2rem;
}

.Content{
    display:flex;
    flex-direction:row;
}

.btnClear {
    display: flex;
    justify-content: end;
}
