

.accordion-button {
    font-size: 1.5rem;
}

.table {
    vertical-align: middle;
}

.button {
    display: flex;
    justify-content: space-evenly;
}

    .button > button {
        padding-left: 1rem;
        padding-right: 1rem;
    }

.title {
    padding-left: 0.5rem;
    font-size: 2rem;
}

.row {
    margin: 1rem;
    padding-bottom: 2rem;
}

.btnClear {
    display: flex;
    justify-content: end;
}
