@model ClassLibrary.Models.CardOrder

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CardOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CO_ID" />
            <div class="form-group">
                <label asp-for="A_ID" class="control-label"></label>
                <select asp-for="A_ID" class="form-control" asp-items="ViewBag.A_ID"></select>
                <span asp-validation-for="A_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CA_ID" class="control-label"></label>
                <select asp-for="CA_ID" class="form-control" asp-items="ViewBag.CA_ID" id="test"></select>
                <span asp-validation-for="CA_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CT_ID" class="control-label"></label>
                <select asp-for="CT_ID" class="form-control" asp-items="ViewBag.CT_ID"></select>
                <span asp-validation-for="CT_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CO_Date" class="control-label"></label>
                <input asp-for="CO_Date" class="form-control" />
                <span asp-validation-for="CO_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CO_Quantity" class="control-label"></label>
                <input asp-for="CO_Quantity" class="form-control" onchange="updateCO_Sum()" />
                <span asp-validation-for="CO_Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CO_Sum" class="control-label"></label>
                <input asp-for="CO_Sum" class="form-control" />
                <span asp-validation-for="CO_Sum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CO_Cancel" class="control-label"></label><br>
                <input type="checkbox" asp-for="CO_Cancel" class="form-check-input" />
                <span asp-validation-for="CO_Cancel" class="text-danger"></span>
            </div>
            <div class="form-group my-1">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Script {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function updateCO_Sum() {
            var quantity = parseInt($('#CO_Quantity').val());
            var price = parseFloat($('#test').val());
            console.log(price);
            var sum = quantity * price;
            $('#sumTotal').val(sum.toFixed(2));
        }
    </script>
        

}
