.container {
    border: 1px solid #aaa;
    margin: auto 100px;
}

.accordion-button {
    font-size: 1.5rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.button {
    display: flex;
    justify-content: space-evenly;
}

.button>button {
    padding-left: 1rem;
    padding-right: 1rem;
}

.title {
    padding-left: 0.5rem;
    font-size: 2rem;
}

.row {
    margin: 1rem;
    padding-bottom: 2rem;
}

.btnClear {
    display: flex;
    justify-content: end;
}