@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;
	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

html {
	overflow-x: hidden;
}

body.dark {
	/* background-image: linear-gradient(to right, #434343 0%, black 100%); */
	background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
}

body {
	background-color: #fbfeff;
	height: 100%;

}


#sidebar {
	position: fixed;
	top: 10px;
	bottom: 10px;
	left: 0;
	width: 280px;
	height: auto;
	background-color: rgb(89, 219, 195);
	background-image: linear-gradient(180deg, rgba(116, 235, 213, 0.5) 0%, rgba(77, 100, 201, 0.5) 100%);
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
	border-radius: 0 20px 20px 0;
	;
}

#sidebar.dark {
	background-color: transparent;
	background-image: linear-gradient(60deg, #29323c8c 0%, #242930de 50%);
	backdrop-filter: blur(4px);


}



#sidebar::--webkit-scrollbar {
	display: none;
}

#sidebar.hide {
	width: 60px;
}

#sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: #f58720;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}

#sidebar .brand .fa {
	min-width: 60px;
	display: flex;
	justify-content: center;
	margin-left: 10px;
	color: #ff9939;
}

#sidebar .side-menu {
	width: 100%;
	margin-top: 48px;
}

#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 30px;
	border-radius: 48px 0 0 48px;
	padding: 4px;

}

#sidebar .side-menu li.active {
	background-color: #fbfeff;
	position: relative;

}

#sidebar .side-menu li.active.dark {
	background-color: #BEBCB9;

}

#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 #fbfeff;
	;
	z-index: -1;

}

#sidebar .side-menu li.active.dark::before {
	box-shadow: 20px 20px 0 #BEBCB9;
}


#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 #fbfeff;
	;
	z-index: -1;
}

#sidebar .side-menu li.active.dark::after {
	box-shadow: 20px -20px 0 #BEBCB9;
}

#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 20px;
	color: var(--light);
	white-space: nowrap;
	overflow-x: hidden;
	transition: .3s ease;
}

#sidebar .side-menu.top li.active a {
	color: rgb(40, 88, 116);
	font-size: 21px;
}

#sidebar .side-menu.top li.dark.active a {
	color: #393D42;
	font-size: 21px;
	font-weight: bold;
}



#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}

#sidebar .side-menu li a.logout {
	color: var(--red);
}

#sidebar .side-menu.top li a:hover {
	color: #FF9939;
}

#sidebar .side-menu li a .fa {
	min-width: calc(60px - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}


#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}

#sidebar.hide~#content {
	width: calc(100% - 60px);
	left: 60px;
}




/* NAVBAR */
#content nav {
	height: 85px;
	background: transparent;
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}

#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
}

#content nav a {
	color: var(--dark);
}

#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}

#content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}

#content nav .nav-link:hover {
	color: var(--blue);
}

#content nav form {
	max-width: 400px;
	width: 100%;
	margin-left: auto;
}

#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}

#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background-color: #cffff6;
	background-image: linear-gradient(180deg, #c7fff5 0%, #dde3ff 100%);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}

#Search.form-input.dark button {
	background-color: #e5eceb;
	/* background-image: linear-gradient(60deg, #42658d 0%, #5e8ec0 100%); */
	background-image: linear-gradient(to left, #bee0d0 0%, #44415d 100%);
}

#Search.form-input.dark input {
	background-color: #e5eceb;
	/* background-image: linear-gradient(60deg, #526377 0%, #73889e 100%); */
	background-image: linear-gradient(to right, #bcddce 0%, #41425d 100%);

}


#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #74EBD5;
	background-image: linear-gradient(180deg, #74EBD5 0%, #9FACE6 100%);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}

#content nav .notification {
	font-size: 20px;
	position: relative;
}

#content nav .notification .num {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	color: var(--light);
	font-weight: 700;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}

#content nav .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
}

#content nav .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--blue);
	border-radius: 50%;
	transition: all .3s ease;
}

#content nav #switch-mode:checked+.switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}




/* MAIN */


/* MAIN */



@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}

	#content {
		width: calc(100% - 60px);
		left: 200px;
	}

	#content nav .nav-link {
		display: none;
	}
}






@media screen and (max-width: 576px) {
	#content nav form .form-input input {
		display: none;
	}

	#content nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content nav form.show .form-input input {
		display: block;
		width: 100%;
	}

	#content nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#content nav form.show~.notification,
	#content nav form.show~.profile {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}

	#content main .table-data .head {
		min-width: 420px;
	}

	#content main .table-data .order table {
		min-width: 420px;
	}

	#content main .table-data .todo .todo-list {
		min-width: 420px;
	}
}



/* main內容 */


main.table {
	/* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
	/* background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
	background-color: #b4c7e6b6; */
	/* background-color: #1621334b; */
	border-radius: 20px;
	border: 1px solid rgba(192, 191, 191, 0.445);
	margin-left: 2%;
	width: 95%;
	height: 90vh;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	color: rgb(255, 255, 255);
	padding: 20px;
	/* overflow: hidden; */

}

.tables {
	/* background-color: #ff0909cc; */
	width: 100%;
	align-items: center;
	height: 78vh;
	color: rgb(255, 255, 255);
	overflow: hidden;
	/* background-color: #DB504A; */

}

.CreateNew_form {
	display: flex;
	justify-content: start;
	align-items: first baseline;
	/* background-color: #b923b2; */
	margin: 10px;
	margin-bottom: 30px;
	/* padding: 20px; */
	background-color: #33384d2c;


}

.CreateNew_form legend {
	font-weight: bold;
	font-size: 1.3rem;
	width: auto;
	height: auto;
	border-radius: 15px;
}

.CreateNew_form {
	/* border: none; */
	border: 1px solid rgba(192, 191, 191, 0.445);
	padding: 30px;
	border-radius: 15px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.CreateNew_form input {
	margin-right: 15px;
	padding: 5px;
	border-radius: 3px;
	height: 30px;
	background-color: transparent;
	border: 1px solid rgb(207, 207, 207);
	outline: none;
	font-size: 1rem;
	color: #FFFFFF;
}

.CreateNew_form .label {
	font-size: 20px;
	margin-right: 5px;
}

.Detail_table,
.Detail_table th,
.Detail_table td {
	padding: 1rem;
	border-collapse: collapse;
	text-align: left;
}

.Detail_table {
	width: 100%;
}

.table_header {
	width: auto;
	height: auto;
	padding-top: 1%;
	padding-left: 1%;
	padding-bottom: 1%;
	/* background-color: #091f41;
	background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%); */

	border-radius: 30px 30px 0px 0px;
}

.Dtable_body {

	width: 98%;
	max-height: calc(80% - 1.6rem);
	background-color: #d1d4d43b;
	/* margin: .8rem auto; */
	border-radius: .6rem;
	overflow: auto;
	margin: 10px;
	border: 1px solid rgba(192, 191, 191, 0.445);
}


.Dtable_body::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

.Dtable_body::-webkit-scrollbar-thumb {
	border-radius: .5rem;
	background-color: #4c596d8c;
	visibility: hidden;
}

.Dtable_body:hover::-webkit-scrollbar-thumb {
	visibility: visible;
}

.Detail_table th {
	position: sticky;
	top: 0;
	left: 0;
	/* background-color: rgba(23, 30, 41, 0.623); */

	background-color: #353c44
}

.Detail_table tbody tr:nth-child(even) {
	background-color: #525d69
}

.Detail_table tbody tr:hover {
	background-image: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
	/* background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%); */
}

.Detail_table tr td:nth-last-child(-n+2) {
	text-align: center;
}

.Detail_table tr th:nth-last-child(-n+2) {
	text-align: center;
}

.Detail_table td i:hover {
	cursor: pointer;
}

.btn_title {
	width: 130px;
	color: #fff;
	border-radius: 5px;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	display: inline-block;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
	outline: none;
	border: none;
	/* background: linear-gradient(0deg, rgba(255, 151, 0, 1) 0%, rgba(251, 75, 2, 1) 100%); */
	background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
	line-height: 42px;
	position: relative;
	overflow: hidden;
	margin-right: 2%;
}

.btn_title span {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.btn_title:before,
.btn_title:after {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	background: #243949;
	box-shadow:
		-7px -7px 20px 0px rgba(255, 255, 255, .9),
		-4px -4px 5px 0px rgba(255, 255, 255, .9),
		7px 7px 20px 0px rgba(0, 0, 0, .2),
		4px 4px 5px 0px rgba(0, 0, 0, .3);
	transition: all 0.3s ease;
}

.btn_title:before {
	height: 0%;
	width: 2px;
}

.btn_title:after {
	width: 0%;
	height: 2px;
}

.btn_title:hover {
	color: #243949;
	background: transparent;
}

.btn_title:hover:before {
	height: 100%;
}

.btn_title:hover:after {
	width: 100%;
}

.btn_title span:before,
.btn_title span:after {
	position: absolute;
	content: "";
	right: 0;
	bottom: 0;
	background: #243949;
	box-shadow:
		-7px -7px 20px 0px rgba(255, 255, 255, .9),
		-4px -4px 5px 0px rgba(255, 255, 255, .9),
		7px 7px 20px 0px rgba(0, 0, 0, .2),
		4px 4px 5px 0px rgba(0, 0, 0, .3);
	transition: all 0.3s ease;
}

.btn_title span:before {
	width: 2px;
	height: 0%;
}

.btn_title span:after {
	height: 2px;
	width: 0%;
}

.btn_title span:hover:before {
	height: 100%;
}

.btn_title span:hover:after {
	width: 100%;
}