@{
    ViewData["Title"] = "Account";
    Layout = "_Layout";
    
}
@section Styles{
    <link href="~/css/accountstyle/style2.css" rel="stylesheet" />
}

<body>
    <div class="content">
        <div class="cards">
            <div class="card">
                <div class="box">
                    <h1>2194</h1>
                    <h3>Accounts</h3>
                </div>
                <div class="icon-case">
                    <img src="~/img/account/students.png"/>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <h1>53</h1>
                    <h3>未知</h3>
                </div>
                <div class="icon-case">
                    <img src="~/img/account/teachers.png"/>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <h1>5</h1>
                    <h3>不知道要放啥</h3>
                </div>
                <div class="icon-case">
                    <img src="~/img/account/schools.png"/>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <h1>350000</h1>
                    <h3>營業額</h3>
                </div>
                <div class="icon-case">
                    <img src="~/img/account/income.png"/>
                </div>
            </div>

        </div>
        <div class="content-2">
            <div class="acount">
                <div class="title">
                    <h2>會員資料表</h2>
                    
                    <a href="#" class="btn"><img src="~/img/account/plus_18px.png"/> 新增</a>
                    <a href="#" class="btn"><img src="~/img/account/trash_18px.png"/> 刪除</a>
                    <a href="#" class="btn">View All</a>
                </div>
                <table>
                    <tr>
                        <th>名字</th>
                        <th>餘額</th>
                        <th>權限</th>
                        <th>option</th>
                    </tr>
                    <tr>
                        <td>Bobo</td>
                        <td>$120</td>
                        <td>Normal</td>
                        <td><a href="#" class="btn">View</a></td>
                    </tr>
                    <tr>
                        <td>Bnn</td>
                        <td>$120</td>
                        <td>Normal</td>
                        <td><a href="#" class="btn">View</a></td>
                    </tr>
                    <tr>
                        <td>Sandy</td>
                        <td>$120</td>
                        <td>Normal</td>
                        <td><a href="#" class="btn">View</a></td>
                    </tr>
                    <tr>
                        <td>Ray</td>
                        <td>$120</td>
                        <td>Normal</td>
                        <td><a href="#" class="btn">View</a></td>
                    </tr>
                    <tr>
                        <td>Frank</td>
                        <td>$120</td>
                        <td>Normal</td>
                        <td><a href="#" class="btn">View</a></td>
                    </tr>
                    <tr>
                        <td>Ashtar</td>
                        <td>$120</td>
                        <td>Normal</td>
                        <td><a href="#" class="btn">View</a></td>
                    </tr>
                    <tr>
                        <td>Bnn</td>
                        <td>$120</td>
                        <td>Normal</td>
                        <td><a href="#" class="btn">View</a></td>
                    </tr>
                </table>
            </div>
            <div class="recent-payment">
                <table>
                    <div class="title">
                        <h2>最近消費</h2>
                        <a href="#" class="btn">View All</a>
                    </div>
                    <tr>
                        <th>Profile</th>
                        <th>Name</th>
                        <th>option</th>
                    </tr>
                    <tr>
                        <td><img src="~/img/account/user.png"/></td>
                        <td>Bobo</td>
                        <td><img src="~/img/account/info.png"/></td>
                    </tr>
                    <tr>
                        <td><img src="~/img/account/user.png"/></td>
                        <td>Bobo</td>
                        <td><img src="~/img/account/info.png"/></td>
                    </tr>
                    <tr>
                        <td><img src="~/img/account/user.png"/></td>
                        <td>Bobo</td>
                        <td><img src="~/img/account/info.png"/></td>
                    </tr>
                    <tr>
                        <td><img src="~/img/account/user.png"/></td>
                        <td>Bobo</td>
                        <td><img src="~/img/account/info.png"/></td>
                    </tr>
                    <tr>
                        <td><img src="~/img/account/user.png"/></td>
                        <td>Bobo</td>
                        <td><img src="~/img/account/info.png"/></td>
                    </tr>
                    <tr>
                        <td><img src="~/img/account/user.png"/></td>
                        <td>Bobo</td>
                        <td><img src="~/img/account/info.png"/></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    </div>
</body>