
.contents {
    overflow: auto;
    position: relative;
    max-height: 100%;
    max-width: 100%;
    width: 53%;
    border-radius: 6px;
    /*margin: 50px 15px;*/
    margin: 100px 100px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh;*/
    margin-left:auto;
    margin-right:auto;

}

#container {
    width: 850px;
    height: 600px;
    margin: 0 auto;
}