<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - WebApplication1</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
	<link href="~/fontawesome-iconpicker/css/fontawesome-iconpicker.min.css" rel="stylesheet" asp-append-version="true" />
	</head>
<body>
	<div>
		<div>
			<section id="sidebar">
				<a class="brand" asp-area="" asp-controller="Home" asp-action="Index">
					<i class="fa fa-solid fa-kiwi-bird fa-shake"></i>

					<span class="text">ChickenLife</span>
				</a>
				<ul class="side-menu top">
					<li class="active side-btn">
						<a asp-area="" asp-controller="Home" asp-action="">
							<i class="fa fa-solid fa-chart-line"></i>
							<span class="text">儀表板</span>
						</a>
					</li>
					<li class="side-btn">
						<a asp-area="" asp-controller="Home" asp-action="">
							<i class="fa fa-solid fa-users fa-sm"></i>
							<span class="text">會員狀態</span>
						</a>
					</li>
					<li class="side-btn">
						<a asp-area="" asp-controller="Home" asp-action="">
							<i class="fa fa-solid fa-triangle-exclamation"></i>
							<span class="text">檢舉狀態</span>
						</a>
					</li>
					<li class="side-btn">
						<a asp-area="" asp-controller="Home" asp-action="">
							<i class="fa fa-solid fa-map"></i>
							<span class="text">地圖編輯</span>
						</a>
					</li>
					<li class="side-btn">
						<a asp-area="" asp-controller="Home" asp-action="">
							<i class="fa fa-solid fa-store"></i>
							<span class="text">內購商城</span>
						</a>
					</li>
					<li class="side-btn">
						<a asp-area="" asp-controller="Home" asp-action="">
							<i class="fa fa-solid fa-sack-dollar"></i>
							<span class="text">營收分析</span>
						</a>
					</li>
					<li class="side-btn">
						<a asp-area="" asp-controller="Home" asp-action="">
							<i class="fa fa-solid fa-rectangle-ad"></i>
							<span class="text">廣告廠商</span>
						</a>
					</li>
					<li class="side-btn">
						<a asp-area="" asp-controller="Home" asp-action="">
							<i class="fa fa-solid fa-bug-slash"></i>
							<span class="text">除錯分析</span>
						</a>
					</li>
				</ul>
				<ul class="side-menu">
					<li>
						<a href="#" class="logout">
							<i class="fa-solid fa-right-from-bracket"></i>
							<span class="text">Logout</span>
						</a>
					</li>
				</ul>
			</section>
			<section id="content">
				<nav>
					<input type="checkbox" id="switch-mode" hidden>
					<label for="switch-mode" class="switch-mode"></label>
					<form action="#">
						<div class="form-input dark" id="Search">
							<input type="search" placeholder="Search...">
							<button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
						</div>
					</form>
					<a href="#" class="profile">
						<img src="img/people.png">
					</a>
				</nav>

				<div>
					<div class="container">
						<div role="main" class="pb-3">
							@RenderBody()
						</div>
					</div>
				</div>
				<main role="main" class="pb-3">
					<div class="container">
						@RenderBody()
					</div>
				</main>
			</section>
		</div>
		
	</div>
	
	

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2023 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/script.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>


