
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Login Status";
    Layout = "_Layout";
    
}
@section Styles{
    <link href="~/css/LoginStatus/site.css" rel="stylesheet" />
}

<div class="container">
    <div class="row">
        <div class="col content-body gx-5">
            <div class="title">
                儀表板
            </div>
        </div>
        <div class="col selection">
            <ul class="timeSpan">
                <li id="day" class="end">
                    <a asp-area="LoginStatus" asp-controller="LoginStatus_Home" asp-action="Index" asp-route-id="Day">日</a>
                </li>
                <li id="week">
                    <a asp-area="LoginStatus" asp-controller="LoginStatus_Home" asp-action="Index" asp-route-id="Week">週</a>
                </li>
                <li id="month" class="start">
                    <a asp-area="LoginStatus" asp-controller="LoginStatus_Home" asp-action="Index" asp-route-id="Month">月</a>
                </li>
            </ul>
        </div>
    </div>
            <div class="head row">
                <div class="note">
                    <ul class="note-left">
                        <li class="notes">
                            累計人數
                    <p class="note-text">@Model.UserCount 人</p>
                        </li>
                        <li class="notes">
                            平均上線時數
                    <p class="note-text">@Model.Average 小時</p>
                        </li>
                    </ul>
                    <ul class="row notes note-right">
                        累計上線次數
                        <li class="chartContainer"><canvas id="headChart" class="border bg-light"></canvas></li>
                    </ul>
                    <ul class="row notes note-right">
                        上線人數
                        <li class="chartContainer"><canvas id="mainChart" class="border bg-light"></canvas></li>
                    </ul>
                </div>
            </div>
            <hr/>
            <div class="row bottom">
                 <ul class="col bottom-col" style="background-color:white">
                        廣告點擊次數
                        <li class="chartContainer"><canvas id="adChart" class="border bg-light"></canvas></li>
                 </ul>
        <ul class="col bottom-col" style="background-color:white">
                        當月商品售量
                        <li class="chartContainer"><canvas id="productChart" class="border bg-light"></canvas></li>
                </ul>
        <ul class="col bottom-col" style="background-color:white">
                        當月營業額
                        <li class="chartContainer"><canvas id="salesChart" class="border bg-light"></canvas></li>
                </ul>
            </div>
        




</div>

@section Script{
	<script src="~/chart.js/dist/chart.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.1"></script>
   
    <script>
        const day = [];
        const time = [];
        const ad = [];
        const product = [];
        const sales = []
        var tmp = @Html.Raw(Json.Serialize(Model));
        console.log(tmp);
        for(var i=0;i<tmp.mainx.length;i++){
            day.push({ x: tmp.mainx[i], y: tmp.mainy[i] });
        }
        for(var i =0;i<tmp.headx.length;i++){
            time.push({ x: tmp.headx[i], y: tmp.heady[i] });
        }

        for (var i = 0; i < tmp.aDx.length; i++) {
            ad.push({ x: tmp.aDx[i], y: tmp.aDy[i] });
        }

        for (var i = 0; i < tmp.productx.length; i++) {
            product.push({ x: tmp.productx[i], y: tmp.producty[i] });
        }

        for (var i = 0; i < tmp.salesx.length; i++) {
            sales.push({ x: tmp.salesx[i], y: tmp.salesy[i] });
        }

        document.getElementById(tmp.unit).style.backgroundColor = "#819695";
        document.getElementById(tmp.unit).style.borderColor = "#819695";
        const mainData = {
            datasets: [{
                label: '上線人數',
                data: day,
                backgroundColor: [
                    'rgba(255, 26, 104, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(0, 0, 0, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 26, 104, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(0, 0, 0, 1)'
                ],
                borderWidth: 1,
                        tension: 0.3
            }]
        };
        var headY = time.map(e=>moment(e.x,'HH:mm'));
        var headX = time.map(e=>+e.y);
        const headData = {
            labels: headY,
            datasets: [{
                data: headX,
                label:"累計上線次數",
                fill:false,
                backgroundColor: 'rgb(86, 227, 227)',
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.3
            }]
        };
        const mainConfig = {
            type: 'line',
            data: mainData,
            options: {
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: tmp.unit,
                            tooltipFormat: 'MMM YYYY'
                        }
                    },
                    y: {
                        beginAtZero: true
                    }
                },
                responsive: true,
                maintainAspectRatio: false
            }
        };

        var adLabel = ad.map(e=>e.x);
        const adData = {
            labels: adLabel,
            datasets: [{
                data: ad,
                label: "廣告點擊次數",
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)'
                ],
                borderWidth: 1,
            }]
        };


        var productLabel = product.map(e => e.x);
        var productDatasets = product.map(e => e.y);
        const productData = {
            labels: productLabel,
            datasets: [{
                label: '消費點數',
                data: productDatasets,
            }]
        };

        var salesLabel = sales.map(e => e.x);
        var salesDatasets = sales.map(e => e.y);
        const salesData = {
            labels: salesLabel,
            datasets: [{
                label: '營業額',
                data: salesDatasets,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                ],
                borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                ],
                borderWidth: 1
            }]
        };


        const headConfig = {
            type: 'line',
            data: headData,
            options: {
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            parser: 'HH:mm:ss',
                            unit: 'hour',
                            displayFormats: {
                                hour: 'HH:mm'
                            },
                            tooltipFormat: 'HH:mm:ss'
                        }
                    }
                },
                responsive: true,
                maintainAspectRatio: false
            }
        };

        const adConfig = {
            type: 'bar',
            data: adData,
            options: {
                scales: {
                    x: {
                        //type: 'time',
                        //time: {
                        //    parser: 'HH:mm:ss',
                        //    unit: 'hour',
                        //    displayFormats: {
                        //        hour: 'HH:mm'
                        //    },
                        //    tooltipFormat: 'HH:mm:ss'
                        //}
                    }
                },
                responsive: true,
                maintainAspectRatio: false
            }
        };

        const productConfig = {
            type: 'pie',
            data: productData,
            options: {
                responsive: true,
                maintainAspectRatio: false
            }
        };

        const salesConfig = {
            type: 'bar',
            data: salesData,
            options: {
                responsive: true,
                maintainAspectRatio: false
            }
        };

        // render init block
        const myHeadChart = new Chart(
            document.getElementById('headChart'),
            headConfig
        );

        const myMainChart = new Chart(
            document.getElementById('mainChart'),
            mainConfig
        );

        const myADChart = new Chart(
            document.getElementById('adChart'),
            adConfig
        );

        const myPoductChart = new Chart(
            document.getElementById('productChart'),
            productConfig
        );

        const mySalesChart = new Chart(
            document.getElementById('salesChart'),
            salesConfig
        );

    </script>
}