
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Login Status";
    Layout = "_Layout";
    
}
@section Styles{
    <link href="~/css/LoginStatus/site.css" rel="stylesheet" />
}

<div class="container">
    <div class="row">
        <div class="col content-body gx-5">
            <div class="title">
                同時在線人數
            </div>
        </div>
        <div class="col selection">
            <ul class="timeSpan">
                <li class="end">
                    <a asp-area="LoginStatus" asp-controller="LoginStatus_Home" asp-action="Index" asp-route-itemid="Day">日</a>
                </li>
                <li>
                    <a asp-area="LoginStatus" asp-controller="LoginStatus_Home" asp-action="Index" asp-route-itemid="Week">週</a>
                </li>
                <li class="start">
                    <a asp-area="LoginStatus" asp-controller="LoginStatus_Home" asp-action="Index" asp-route-itemid="Month">月</a>
                </li>
            </ul>
        </div>
    </div>
            <div class="head row">
                <div class="note">
                    <ul class="note-left">
                        <li class="notes">
                            累計人數
                            <p class="note-text">200人</p>
                        </li>
                        <li class="notes">
                            平均上線時數
                    <p class="note-text">@Model.Average 小時</p>
                        </li>
                    </ul>
                    <ul class="row notes note-right">
                        上線時段
                        <li class="chartContainer"><canvas id="headChart" class="border bg-light"></canvas></li>
                    </ul>
                </div>
            </div>
        

    <div class="row chartContainer">
        <canvas id="mainChart" class="border bg-light">
        </canvas>
    </div>

</div>

@section Script{
	<script src="~/chart.js/dist/chart.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
   
    <script>

        const day = [];
        var tmp = @Html.Raw(Json.Serialize(Model));
        console.log(tmp);
        for(var i=0;i<tmp.mainx.length;i++){
            day.push({ x: tmp.mainx[i], y: tmp.mainy[i] });
        }
        

        const week = [
            { x: Date.parse('2021-11-01'), y: 28 },
            { x: Date.parse('2021-11-08'), y: 18 },
            { x: Date.parse('2021-11-15'), y: 13 },
            { x: Date.parse('2021-11-22'), y: 32 },
            { x: Date.parse('2021-11-29'), y: 45 },
        ]

        const data = {
            datasets: [{
                label: 'Weekly Sales',
                data: day,
                backgroundColor: [
                    'rgba(255, 26, 104, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(0, 0, 0, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 26, 104, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(0, 0, 0, 1)'
                ],
                borderWidth: 1
            }]
        };


     
        const mainConfig = {
            type: 'line',
            data,
            options: {
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'day'
                        }
                    },
                    y: {
                        beginAtZero: true
                    }
                },
                responsive: true,
                maintainAspectRatio: false
            }
        };
        const headConfig = {
            type: 'doughnut',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'day'
                        }
                    },
                    y: {
                        beginAtZero: true
                    }
                },
                responsive: true,
                maintainAspectRatio: true
            }
        };

        // render init block
        const myHeadChart = new Chart(
            document.getElementById('headChart'),
            headConfig
        );

        const myMainChart = new Chart(
            document.getElementById('mainChart'),
            mainConfig
        );


    </script>
}