@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@section Styles{
    <link href="~/css/ad/ad.css" rel="stylesheet" />
}

<section class="table_header">
	<button class="btn_title custom-btn btn-par"><span>廠商管理</span></button>
	<button class="btn_title custom-btn btn-AD"><span>廣告管理</span></button>
</section>
<section class="tables">
	<fieldset class="CreateNew_form">
		<legend>新增廠商</legend>
		<div class="CreateForm_title">
		<span style="width: 100px;">
			<span class="label">廠商名稱</span>
				<input type="text" required="required" style="width: 100%">
		</span>
		<span style="width: 100px;">
			<span class="label">聯絡人</span>
				<input type="text" required="required" style="width: 100%">
		</span>
		<span style="width: 150px;">
			<span class="label">e-mail</span>
			<input type="text" required="required" style="width: 100%">
		</span>
		<span style="width: 150px;">
			<span class="label">電話</span>
			<input type="text" required="required" style="width: 100%">
		</span>
		<span style="width: 500px;">
			<span class="label">備註</span>
				<input type="text" style="width: 100%">
		</span>
		</div>
	</fieldset>
	<section class=" Dtable_body">
		<table class="Detail_table">
			<thead>
				<tr>
					<th>廠商ID</th>
					<th>名稱</th>
					<th>聯絡人</th>
					<th>e-mail</th>
					<th>電話</th>
					<th>備註</th>
					<th>修改</th>
					<th>刪除</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td class="editableCell">Dior</td>
					<td class="editableCell">lil Chick</td>
					<td class="editableCell">sdsg15@gmail.com</td>
					<td class="editableCell">0986214536</td>
					<td class="editableCell">nothing want to say</td>
					<td><i class="fa-solid fa-pen-to-square"></i></td>
					<td><i class="fa-solid fa-trash-can"></i></td>
				</tr>
				<tr>
					<td>2</td>
					<td>Chanel</td>
					<td>Fat Chick</td>
					<td>asdwer462@gmail.com</td>
					<td>0985413267</td>
					<td>so fat</td>
					<td><i class="fa-solid fa-pen-to-square"></i></td>
					<td><i class="fa-solid fa-trash-can"></i></td>
				</tr>
				<tr>
					<td>4</td>
					<td>Liked</td>
					<td>lil Koala</td>
					<td>fhjsf22@gmail.com</td>
					<td>0962145298</td>
					<td>nothing nothing</td>
					<td><i class="fa-solid fa-pen-to-square"></i></td>
					<td><i class="fa-solid fa-trash-can"></i></td>
				</tr>
				<tr>
					<td>5</td>
					<td>Liked</td>
					<td>lil Koala</td>
					<td>fhjsf22@gmail.com</td>
					<td>0962145298</td>
					<td>nothing nothing</td>
					<td><i class="fa-solid fa-pen-to-square"></i></td>
					<td><i class="fa-solid fa-trash-can"></i></td>
				</tr>
				<tr>
					<td>6</td>
					<td>Liked</td>
					<td>lil Koala</td>
					<td>fhjsf22@gmail.com</td>
					<td>0962145298</td>
					<td>nothing nothing</td>
					<td><i class="fa-solid fa-pen-to-square"></i></td>
					<td><i class="fa-solid fa-trash-can"></i></td>
				</tr>
				<tr>
					<td>7</td>
					<td>Liked</td>
					<td>lil Koala</td>
					<td>fhjsf22@gmail.com</td>
					<td>0962145298</td>
					<td>nothing nothing</td>
					<td><i class="fa-solid fa-pen-to-square"></i></td>
					<td><i class="fa-solid fa-trash-can"></i></td>
				</tr>
				<tr>
					<td>8</td>
					<td>Liked</td>
					<td>lil Koala</td>
					<td>fhjsf22@gmail.com</td>
					<td>0962145298</td>
					<td>nothing nothing</td>
					<td><i class="fa-solid fa-pen-to-square"></i></td>
					<td><i class="fa-solid fa-trash-can"></i></td>
				</tr>
				<tr>
					<td>9</td>
					<td>Liked</td>
					<td>lil Koala</td>
					<td>fhjsf22@gmail.com</td>
					<td>0962145298</td>
					<td>nothing nothing</td>
					<td><i class="fa-solid fa-pen-to-square"></i></td>
					<td><i class="fa-solid fa-trash-can"></i></td>
				</tr>
				<tr>
					<td>10</td>
					<td>Liked</td>
					<td>lil Koala</td>
					<td>fhjsf22@gmail.com</td>
					<td>0962145298</td>
					<td>nothing nothing</td>
					<td><i class="fa-solid fa-pen-to-square"></i></td>
					<td><i class="fa-solid fa-trash-can"></i></td>
				</tr>
				<tr>
					<td>11</td>
					<td>Liked</td>
					<td>lil Koala</td>
					<td>fhjsf22@gmail.com</td>
					<td>0962145298</td>
					<td>nothing nothing</td>
					<td><i class="fa-solid fa-pen-to-square"></i></td>
					<td><i class="fa-solid fa-trash-can"></i></td>
				</tr>
				<tr>
					<td>12</td>
					<td>Liked</td>
					<td>lil Koala</td>
					<td>fhjsf22@gmail.com</td>
					<td>0962145298</td>
					<td>nothing nothing</td>
					<td><i class="fa-solid fa-pen-to-square"></i></td>
					<td><i class="fa-solid fa-trash-can"></i></td>
				</tr>
				<tr>
					<td>13</td>
					<td>Dior</td>
					<td>lil Chick</td>
					<td>sdsg15@gmail.com</td>
					<td>0986214536</td>
					<td>nothing want to say</td>
					<td><i class="fa-solid fa-pen-to-square"></i></td>
					<td><i class="fa-solid fa-trash-can"></i></td>
				</tr>
				<tr>
					<td>14</td>
					<td>Dior</td>
					<td>lil Chick</td>
					<td>sdsg15@gmail.com</td>
					<td>0986214536</td>
					<td>nothing want to say</td>
					<td><i class="fa-solid fa-pen-to-square"></i></td>
					<td><i class="fa-solid fa-trash-can"></i></td>
				</tr>
				<tr>
					<td>15</td>
					<td>Dior</td>
					<td>lil Chick</td>
					<td>sdsg15@gmail.com</td>
					<td>0986214536</td>
					<td>nothing want to say</td>
					<td><i class="fa-solid fa-pen-to-square"></i></td>
					<td><i class="fa-solid fa-trash-can"></i></td>
				</tr>
				<tr>
					<td>16</td>
					<td>Dior</td>
					<td>lil Chick</td>
					<td>sdsg15@gmail.com</td>
					<td>0986214536</td>
					<td>nothing want to say</td>
					<td><i class="fa-solid fa-pen-to-square"></i></td>
					<td><i class="fa-solid fa-trash-can"></i></td>
				</tr>
				<tr>
					<td>17</td>
					<td>Dior</td>
					<td>lil Chick</td>
					<td>sdsg15@gmail.com</td>
					<td>0986214536</td>
					<td>nothing want to say</td>
					<td><i class="fa-solid fa-pen-to-square"></i></td>
					<td><i class="fa-solid fa-trash-can"></i></td>
				</tr>

				<tr>
					<td>18</td>
					<td>Dior</td>
					<td>lil Chick</td>
					<td>sdsg15@gmail.com</td>
					<td>0986214536</td>
					<td>nothing want to say</td>
					<td><i class="fa-solid fa-pen-to-square"></i></td>
					<td><i class="fa-solid fa-trash-can"></i></td>
				</tr>
				<tr>
					<td>19</td>
					<td>Dior</td>
					<td>lil Chick</td>
					<td>sdsg15@gmail.com</td>
					<td>0986214536</td>
					<td>nothing want to say</td>
					<td><i class="fa-solid fa-pen-to-square"></i></td>
					<td><i class="fa-solid fa-trash-can"></i></td>
				</tr>

				<tr>
					<td>20</td>
					<td>Dior</td>
					<td>lil Chick</td>
					<td>sdsg15@gmail.com</td>
					<td>0986214536</td>
					<td>nothing want to say</td>
					<td><i class="fa-solid fa-pen-to-square"></i></td>
					<td><i class="fa-solid fa-trash-can"></i></td>
				</tr>
				<tr>
					<td>21</td>
					<td>Dior</td>
					<td>lil Chick</td>
					<td>sdsg15@gmail.com</td>
					<td>0986214536</td>
					<td>nothing want to say</td>
					<td><i class="fa-solid fa-pen-to-square"></i></td>
					<td><i class="fa-solid fa-trash-can"></i></td>
				</tr>
				<tr>
					<td>22</td>
					<td>Dior</td>
					<td>lil Chick</td>
					<td>sdsg15@gmail.com</td>
					<td>0986214536</td>
					<td>nothing want to say</td>
					<td><i class="fa-solid fa-pen-to-square"></i></td>
					<td><i class="fa-solid fa-trash-can"></i></td>
				</tr>

				<tr>
					<td>23</td>
					<td>Dior</td>
					<td>lil Chick</td>
					<td>sdsg15@gmail.com</td>
					<td>0986214536</td>
					<td>nothing want to say</td>
					<td><i class="fa-solid fa-pen-to-square"></i></td>
					<td><i class="fa-solid fa-trash-can"></i></td>
				</tr>

				<tr>
					<td>24</td>
					<td>Dior</td>
					<td>lil Chick</td>
					<td>sdsg15@gmail.com</td>
					<td>0986214536</td>
					<td>nothing want to say</td>
					<td><i class="fa-solid fa-pen-to-square"></i></td>
					<td><i class="fa-solid fa-trash-can"></i></td>
				</tr>
			</tbody>
		</table>
	</section>

</section>
