@model final_repo_test.Models.Report

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Report</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="R_ID" />
            <div class="form-group">
                <label asp-for="A_ID" class="control-label"></label>
                <select asp-for="A_ID" class="form-control" asp-items="ViewBag.A_ID"></select>
                <span asp-validation-for="A_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportedA_ID" class="control-label"></label>
                <select asp-for="ReportedA_ID" class="form-control" asp-items="ViewBag.ReportedA_ID"></select>
                <span asp-validation-for="ReportedA_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="R_Time" class="control-label"></label>
                <input asp-for="R_Time" class="form-control" />
                <span asp-validation-for="R_Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="R_ReportType" class="control-label"></label>
                <select asp-for="R_ReportType" class="form-control"></select>
                <span asp-validation-for="R_ReportType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="R_Reason" class="control-label"></label>
                <input asp-for="R_Reason" class="form-control" />
                <span asp-validation-for="R_Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="R_ReportStatus" class="control-label"></label>
                <select asp-for="R_ReportStatus" class="form-control"></select>
                <span asp-validation-for="R_ReportStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="R_Reply" class="control-label"></label>
                <input asp-for="R_Reply" class="form-control" />
                <span asp-validation-for="R_Reply" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

