* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table tbody tr {
    height: 10%;

}

table tbody {
    align-items: flex-start;
}

.table {
    table-layout: fixed
}

.box {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    border-radius: 15px;
    margin-left: 2%;
    width: 95%;
    height: 88vh;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    overflow: auto;
}


.test {

    font-size: 18px;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f1f1f1;
    border: 1px solid #eeecec;
    text-align: center;
    border-radius: 20%;
    color: #2b2a2a;
}

.radius-30 {
    border-radius: 30px;
}

.bxs-plus-square:before {
    content: "\edce"
}

a {
    text-decoration: none;
}


.text-success {
    color: #17a00e !important;
}

.text-warning {
    color: #ffc107 !important;
}