@model final_repo_test.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="E_ID" />
            <div class="form-group">
                <label asp-for="E_Name" class="control-label"></label>
                <input asp-for="E_Name" class="form-control" />
                <span asp-validation-for="E_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="E_Gender" class="control-label"></label>
                <select asp-for="E_Gender" class="form-control"></select>
                <span asp-validation-for="E_Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="E_UserName" class="control-label"></label>
                <input asp-for="E_UserName" class="form-control" />
                <span asp-validation-for="E_UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="E_Pwd" class="control-label"></label>
                <input asp-for="E_Pwd" class="form-control" />
                <span asp-validation-for="E_Pwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="E_Email" class="control-label"></label>
                <input asp-for="E_Email" class="form-control" />
                <span asp-validation-for="E_Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="E_Title" class="control-label"></label>
                <select asp-for="E_Title" class="form-control"></select>
                <span asp-validation-for="E_Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="E_Phone" class="control-label"></label>
                <input asp-for="E_Phone" class="form-control" />
                <span asp-validation-for="E_Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="E_Birthday" class="control-label"></label>
                <input asp-for="E_Birthday" class="form-control" />
                <span asp-validation-for="E_Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="E_HireDate" class="control-label"></label>
                <input asp-for="E_HireDate" class="form-control" />
                <span asp-validation-for="E_HireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="E_Address" class="control-label"></label>
                <input asp-for="E_Address" class="form-control" />
                <span asp-validation-for="E_Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="E_Permission" class="control-label"></label>
                <input asp-for="E_Permission" class="form-control" />
                <span asp-validation-for="E_Permission" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="E_Work" /> @Html.DisplayNameFor(model => model.E_Work)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
